// BREAK-POINTS
$desktop-max-break-point: 1440px;
$tablet-max-break-point: 950px;
$mobile-max-break-point: 700px;

@mixin for-big-desktop {
  @media only screen and (min-width: $desktop-max-break-point) {
    @content;
  }
}
@mixin for-tablet {
  @media (min-width: $mobile-max-break-point) and (max-width: $tablet-max-break-point) {
    @content;
  }
}
@mixin for-mobile {
  @media only screen and (max-width: $mobile-max-break-point) {
    @content;
  }
}

@mixin for-tablet-and-mobile {
  @media (max-width: $tablet-max-break-point) {
    @content;
  }
}

@mixin for-little-screen {
  @media only screen and (max-width: 450px) {
    @content;
  }
}

@mixin for-less-1250-screen {
  @media (min-width: $mobile-max-break-point) and (max-width: 1250px) {
    @content;
  }
}
