.title {
  font-family: "Caslim";
  font-size: toEM(40);
  color: $white;
  text-transform: uppercase;
}
.main-title {
  font-family: "Caslim";
  font-size: toEM(100);
  color: $white;
  text-transform: uppercase;
}
