$orange: #ed903d;
$dark-orange: #b35b38;

$broun: #675a52;
$black: #1b1b1b;

$white: #fff;
$placeholder-color: #c4c4c4;

$wide-padding: 10vw;
$narrow-padding: 5vw;
$column-gap: 2vw;

$close-button-size: 3vw;

$text-size: calc(8px + 1vmin);

$rect-button-width: toEM(350);
$rect-button-height: toEM(60);

$little-hor-space: 2vmin;

$slider-width: 17.6%;
$slider-gap: 3%;
