@import "../../scssHelpers";
.Article {
  width: 100%; //
  display: flex;
  flex-direction: column;
  gap: 1em;
  &__date-categoty-container {
    display: flex;
  }

  &__img {
    width: 100%;
  }
  &__title {
    @include text(toEM(24), $white, normal);
    cursor: pointer;
    &:hover {
      transition: 0.5s;
      color: $orange;
    }
  }
  &__date {
    @include text(toEM(18), $white, 300);
  }
  &__vertical-bar {
    margin: 0 0.25em 0 0.5em;
  }
  &__category {
    @include text(toEM(18), #a8a8a8, 300);
  }
  &__text {
    @include text(toEM(20), $white, 300);
  }
}
