@import "../../scssHelpers";
.FirstScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  height: 95vh;
  @include background("../../backgroundImages/first-screen.jpg");
  &__main-title-grid {
    display: grid;
    grid-template-rows: 20vh 20vh;
    align-items: center;

    width: 40%;
    @include for-tablet {
      width: 55%;
    }
    @include for-mobile {
      width: 70%;
    }
  }
  &__main-title {
    &--left {
      justify-self: start;
    }
    &--right {
      justify-self: end;
    }
  }
}
