@import "../../scssHelpers/index.scss";
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  &__main {
    position: fixed;
    background: $black;
    width: 60%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__close-button {
    width: $close-button-size;
    position: absolute;
    top: -0.5 * $close-button-size;
    right: -0.5 * $close-button-size;
  }
}
.display-block {
  display: block;
}
.display-none {
  display: none;
}
