@import "../../scssHelpers";
.AboutPaperboy {
  @include addaptive-padding;
  background: url("../../backgroundImages/paperboy-background.jpg") no-repeat;
  background-size: cover;
  background-position: top;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr;
  grid-column-gap: $column-gap;
  @include for-mobile {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
  }
  &__logo {
    margin-top: 232px;
    width: 100%;
    grid-column: 4/10;
    justify-self: end;
    grid-row: 1;
    @include for-mobile {
      width: 80%;
      grid-column: 1;
      justify-self: center;
    }
  }
  &__img {
    width: 100%;
    padding-top: 232px;
    grid-column: 1/7;
    grid-row: 1/4;
    @include for-mobile {
      display: none;
    }
  }
  &__text {
    margin-top: 7vmin;
    grid-column: 7/13;
    grid-row: 2;
    @include for-mobile {
      grid-column: 1;
      margin-top: 0;
      margin-bottom: 7vh;
    }
  }
  &__paragraph,
  &__paragraph > i {
    font-weight: 300;
    color: $black;
    margin-top: 2em;
    line-height: 128.2%;
    font-size: toEM(20);
  }
  &__vertical-text {
    margin-right: -200px;
    padding-left: 2em;
    border-bottom: 2px solid $dark-orange;
    color: $dark-orange;
    grid-row: 3;
    grid-column: 7/13;
    justify-self: end;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    @include for-tablet-and-mobile {
      display: none;
    }
  }
}
